body {
  background: #0d325c;
  max-width: 1500px;
  min-height: 100vh;
  position: relative;
  margin: 0 auto;
  padding-top: 12rem;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 50px;
}

p {
  color: #e1ead9;
  font-size: 1rem;
  font-weight: 300;
  line-height: 1.3;
  text-align: justify;
  font-family: 'Montserrat', sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

.p {
  color: #e1ead9;
  font-size: 1rem;
  font-weight: 300;
  line-height: 2;
  text-align: justify;
  font-family: 'Montserrat', sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

a {
  text-decoration: none;
  color: inherit;
}

.a {
  text-decoration: underline;
  color: #e1ead9;
  font-family: 'Montserrat', sans-serif;
}

.aa {
  text-decoration: underline;
  color: #e1ead9;
  font-weight: bold;
}

span {
  display: inline-block;
  border-bottom: 3px solid #d25a19;
  padding-bottom: 1rem;
  width: 100%;
  text-align: center;
}

footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 30px;
  background-color: #d25a19;
  text-align: center;
  padding: 5px 0;
  border-top: 1px solid #e1ead9;
  z-index: 0;
}

@media (max-width: 768px) {
  #container {
    flex-direction: column;
  }
}

#container {
  display: flex;
  width: 100%;
}

#container img {
  max-width: 100%;
  height: auto;
  display: block;
  margin: 0 auto;
}

.left-div,
.center-div,
.right-div {
  flex: 1;
  padding: 30px;
  box-sizing: border-box;
  text-align: center;
}

.fixed-header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #d25a19;
  z-index: 100;
  border-bottom: 1px solid #e1ead9;
}

.heading-index {
  color: #0d325c;
  font-size: 3rem;
  text-align: center;
  font-family: 'Playfair Display', serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}

.heading {
  color: #d25a19;
  font-size: 3rem;
  text-align: center;
  font-family: 'Playfair Display', serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}

.title {
  color: #e1ead9;
  font-size: 2rem;
  font-family: 'Playfair Display', serif;
  font-optical-sizing: auto;
  font-weight: 125;
  font-style: normal;
}

.title:hover {
  font-weight: bold;
}

.subtitle {
  color: #2be0bc;
  font-size: 1.3rem;
  font-family: 'Playfair Display', serif;
  font-optical-sizing: auto;
  font-weight: 125;
  font-style: normal;
}

.date {
  text-align: center;
}

.blog-title {
  color: #d25a19;
  font-weight: 400;
  font-family: 'Montserrat', sans-serif;
}

.menu-title {
  color: #2be0bc;
  font-weight: 400;
  font-family: 'Montserrat', sans-serif;
  list-style: none;
}

.menu-jsc {
  width: 1500px;
  margin: 0 auto;
}

.bullet {
  color: #d25a19;
  font-weight: bold;
  font-size: 1.1rem;
}

table {
  margin: 0 auto;
  border-collapse: collapse;
  width: 80%;
  max-width: 600px;
}
th,
td {
  border: 2px solid black;
  padding: 8px;
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  color: #e1ead9;
}
th {
  font-weight: bold;
  text-align: center;
  vertical-align: middle;
  font-family: 'Playfair Display', serif;
  color: #e1ead9;
}
ul {
  list-style-type: disc;
  padding-left: 20px;
}
.tdfont {
  font-family: 'Playfair Display', serif;
  font-weight: bold;
  color: #d25a19;
}

@media (max-width: 768px) {
  .image-container {
    flex-direction: column;
  }

  .image-container img {
    max-width: 100%;
    margin-right: 0;
    margin-bottom: 10px;
  }
}

.image-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.image-container img {
  max-width: 40%;
  height: auto;
}

.image-small {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.image-small img {
  width: 50%;
  height: auto;
  padding-top: 10px;
  border-radius: 50%;
}

.image-small-l1 {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 50%;
  height: auto;
  padding-top: 10px;
}

.image-small-l2 {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 75%;
  height: auto;
  border-radius: 10%;
}

.image-logo {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.image-logo img {
  width: auto;
  height: auto;
}

.icon-txt-fixed {
  position: fixed;
  left: 5px;
  bottom: 0;
  z-index: 100;
}

.icon-txt-fixed p {
  margin: 0;
  font-size: 10px;
  padding-bottom: 12px;
}

.image-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  gap: 10px;
}

.image-grid img {
  width: auto;
  margin: 0 auto;
  height: auto;
  display: block;
  object-fit: cover;
}

.logo-footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  height: auto;
  background-color: #d25a19;
  text-align: center;
  padding: 5px 0;
  border-top: 1px solid #e1ead9;
}

.logo-footer p {
  text-align: left;
  margin-right: auto;
  font-size: 10px;
  padding-left: 10px;
}

.footer-img {
  display: inline-block;
  max-width: 30px;
  height: auto;
  margin: 0 5px;
}
