body {
  background-color: orange;
}

.title {
  font-size: 40px;
  color: blue;
  text-align: center;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande',
    'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.subtitle {
  font-size: 20px;
  color: black;
  text-align: left;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande',
    'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.menu {
  font-size: 20px;
  text-transform: capitalize;
}

.home {
  text-align: center;
  text-size-adjust: 10px;
  color: blueviolet;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande',
    'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.indextext {
  font-size: 15px;
}

.parafix {
  text-align: left;
}

#classimage {
  display: flex;
  margin-left: auto;
  margin-right: auto;
  width: 25%;
}

#idimage {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 25%;
}

h2 {
  text-align: center;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande',
    'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

p {
  text-align: center;
  text-justify: auto;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande',
    'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

@media only screen and (min-width: 500px);
