body {
  margin-left: 1%;
  margin-right: 1%;
  margin-bottom: 1%;
  padding: 10px;
  border-radius: 50px;
  border-width: 10px;
  border-color: white;
  border-style: solid;
  background-color: darkorange;
}

img {
  overflow-clip-margin: content-box;
  overflow: clip;
}

.title {
  font-size: 40px;
  color: blue;
  text-align: center;
  font-family: 'Gloria Hallelujah', cursive;
  font-weight: 1000px;
}

.subtitle {
  font-size: 20px;
  color: black;
  text-align: center;
  font-family: 'Gloria Hallelujah', cursive;
  font-weight: bold;
  font-style: oblique;
}

.bullet {
  font-size: 20px;
  color: black;
  text-align: left;
  font-family: 'Gloria Hallelujah', cursive;
  font-weight: bold;
  font-style: oblique;
}

.menu {
  font-size: 20px;
  text-transform: capitalize;
}

.home {
  text-align: center;
  text-size-adjust: 10px;
  color: white;
  font-family: 'Gloria Hallelujah', cursive;
}

.indextext {
  font-size: 15px;
}

.parafix {
  text-align: left;
  font-weight: bold;
}

#classimage {
  display: flex;
  margin-left: auto;
  margin-right: auto;
  width: 70%;
}

#idimage {
  display: flex;
  margin-left: auto;
  margin-right: auto;
  width: 70%;
}

h2 {
  text-align: left;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande',
    'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

p {
  color: black;
  font-size: 15px;
  text-align: center;
  text-justify: auto;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande',
    'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

#image {
  display: flex;
  margin-left: auto;
  margin-right: auto;
  width: 70%;
}

#image2 {
  display: block;
  margin: auto;
  width: 500px;
}

table,
th,
td {
  border: solid;
  border-style: double;
  margin-left: auto;
  margin-right: auto;
  border-collapse: collapse;
  padding: 0.5em 0.5em;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande',
    'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

th {
  font-family: 'Gloria Hallelujah', cursive;
  font-weight: bold;
}

td {
  margin-left: 10px;
  margin-right: 10px;
  text-align: center;
}

.tdfont {
  font-family: 'Gloria Hallelujah', cursive;
  font-weight: bold;
}
